# dot files
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template

# clangd cache
.clangd
.cache

# llm related
.deepseek

# datasheets
/datasheets
